{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1 class="text-center mb-4">Inscription</h1>
<p class="text-center mb-5">Créez votre compte client</p>

{{ form_start(registrationForm) }}

<div class="row">
  <div class="col-md-6">
    {{ form_row(registrationForm.prenom) }}
  </div>
  <div class="col-md-6">
    {{ form_row(registrationForm.nom) }}
  </div>
</div>

{{ form_row(registrationForm.email) }}

{{ form_row(registrationForm.plainPassword.first) }}
{{ form_row(registrationForm.plainPassword.second) }}

<div class="text-center mt-4">
  <button type="submit" class="btn btn-dark">Créer mon compte</button>
</div>

{{ form_end(registrationForm) }}

<p class="text-center mt-3">
  Déjà un compte ? <a href="{{ path('app_login') }}" class="text-danger">Se connecter</a>
</p>
{% endblock %}
